.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3ms;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    max-width: 250px;
    min-width: 150px;
    font-size: 18px;
    background: lightyellow;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.header{
    background:lightgoldenrodyellow;
    border-radius: 5px;
    border-color: yellowgreen;
    border-width: 0.5px;
    border-style: solid;
}
.container{
    padding: 8px 15px;
}